.h1statuss{
    width: 500px;
    height: 20px;
    align-content: center;
}

.derechos{
    opacity: 100%;
    font-weight: bold;
}

.imagen-fondo{
    background-image: url("https://images.unsplash.com/photo-1524673450801-b5aa9b621b76?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
}

.imagen-fondo2{
    background-image: url("https://fondosmil.com/fondo/16641.jpg");
    background-size: cover;
}

.valorinvertido{
    text-align: center;
    font-weight: bold;
    opacity: 100%;
    font-size: 25px;
    margin-left: 40px;
}

.valoractual{
    text-align: center;
    font-weight: bold;
    opacity: 100%;
    font-size: 25px;
    margin-left: 70px;
}

.Q2{
    float: left;
    width: -webkit-fill-available;
    opacity: 100%;
    font-weight: bold;
}

.PU{
    float: left;
    width: -webkit-fill-available;
    opacity: 100%;
    font-weight: bold;
}

.boton{
    width: 80px;
    float:right
}

.tituloinicio{
    text-align: center;
    font-weight: bold;
}

.simuladorcrypto{
    align-content: center;
}

.FROM{
    height: 100px;
    width: 300px;
    opacity: 100%;
    font-weight: bold;
}

.Q{
    height: 100px;
    width: 250px;
    opacity: 100%;
    font-weight: bold;
}

.TO{
    height: 100px;
    width: 300px;
    opacity: 100%;
    font-weight: bold;
}

.opciones123{
    width: 200%;
    margin: auto;
    overflow:hidden;
}

.field{
    width: 100px;
    float: left;
}


.tabla{
    border: 2px;
    border-color: black;
    width: 100%;
}

.field2{
    width: 100px;
    float: left;
}

.simulador{
    text-align: center;
}

.inver{
    text-align: center;
    opacity: 100%;
}

.derechos{
    opacity: 100%;
}

.milista{
    float: right;
    padding: 0;
    margin: 0;
    color: black;

}

.tabla{
    border-collapse: collapse;
    margin: 3px;
    padding: 2px;
    border: black 3px solid;
}

.tabla2{
    border: black 3px solid;
}

.opcion{
    border: black 1px solid;
}