{% extends 'inicio.html' %}

{% block title %} MY CRYPTO {% endblock %}

{% block contenido %}

<nav>
    <ul>
        <li><a href="/" class="milista"> INICIO </a></li>
        <li><a href="compra.html"  class="milista" aria-disabled="true">COMPRA</a></li>
        <li><a href="status.html" class="milista">STATUS</a></li>
    </ul>
</nav>
        
    <form action="compra.html" method="POST" >
        {{ form.hidden_tag() }}
        {% set isAccept=form.from_quantity.data %}
        <div>
            <input type="hidden" id="fname" name="to_quantity" value="{{to_quantity}}">
        </div>

        <div>
            <input type="hidden" id="fname" name="PU" value="{{PU}}">
        </div>

        

            <div class="FROM">
                <label for="from_currency">
                {{ form.from_currency.label }}
                {% if isAccept %}
                    {{ form.from_currency.data }}
                    {{ form.from_currency(class="hidden")}}
                {% else %}
                    {{ form.from_currency() }}
                {% endif %}
            </label>
            </div>

            <div>
                {{ form.from_currency.errors[0] }}
            </div>

            <div class="Q">
                <label for="from_quantity">
                {{ form.from_quantity.label }}
                {% if isAccept %}
                    {{ form.from_quantity.data }}
                    {{ form.from_quantity(class="hidden")}}
                {% else %}
                    {{ form.from_quantity() }}
                {% endif %}

            </label>
            </div>

            <div>
                {{ form.from_quantity.errors[0] }}
            </div>

            <div class="TO">
                <label for="to_currency">
                {{ form.to_currency.label }}
                {% if isAccept %}
                    {{ form.to_currency.data }}
                    {{ form.to_currency(class="hidden")}}
                {% else %}
                    {{ form.to_currency() }}
                {% endif %}
                </label>

            </div>

        <div class="field">
            {% if isAccept %}
                {{form.submit(disabled="disabled")}}
            {% else %}
                {{ form.submit }}
            {% endif %}
        </div>

        <div class="Q2">
            Q2: {{ to_quantity }}
        </div>

        <div class="PU">
            PU: {{ PU }}
        </div>
        

        {% if to_quantity != 0 %}
            <div class="field2" >
                {{ form.submit2() }}
            </div>
        {% endif %}

    </form>
    



{% endblock %}

