{% extends 'inicio.html' %}

{% block title %} MY CRYPTO {% endblock %}

{% block contenido %}

<nav>
    <ul>
        <li><a href="/"> INICIO </a></li>
        <li><a href="compra.html" aria-disabled="true">COMPRA</a></li>
        <li><a href="status.html">STATUS</a></li>
    </ul>
</nav>

    <form action="compra.html" method="POST">
        

        <div>
            <input type="hidden" id="fname" name="to_quantity" value="{{to_quantity}}">
        </div>

        <div>
            <input type="hidden" id="fname" name="PU" value="{{PU}}">
        </div>

            <div class="FROM">
            {{ form.from_currency.label }}
            {{ form.from_currency }}

            </div>

            <div class="Q">

                {{ form.from_quantity.label }}
                {{ form.from_quantity }}

            </div>
            <div class="TO">
                {{ form.to_currency.label }}
                {{ form.to_currency }}
            </div>

        <div class="field">
            {{ form.submit }}
        </div>

        <div class="Q2">
            Q2: {{ to_quantity }}
        </div>

        <div class="PU">
            PU: {{ PU }}
        </div>
        

        {% if to_quantity != 0 %}
            <div class="field2" >
                {{ form.submit2() }}
            </div>
        {% endif %}

    </form>
    



{% endblock %}

