<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
        <link rel="canonical" href="https://picocss.com/#examples">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
        <link rel="stylesheet" href="movements/templates/style.css">

        <title>MY CRYPTO -{% block title %}{% endblock %}</title>
    </head>

    <nav>
        <ul>
            <li><a href="inicio.html"> INICIO </a></li>
            <li><a href="compra.html">COMPRA</a></li>
            <li><a href="status.html">STATUS</a></li>
        </ul>
    </nav>
    <body>
        <header>
            <h1>Simulador cryptos</h1>
        </header>

        <section>
            {% block contenido %} {% endblock %}
        </section>

        <footer>
            <small>Built with <a href="https://picocss.com">crypto</a> • <a href="https://github.com/picocss/examples/">Source code</a></small>
            &copy; 2021- TODOS LOS DERECHOS RESERVADOS
        </footer>
    </body>
</html>