{% extends "inicio.html" %}
{% block title %} movimientos de cryptos {% endblock %}

{% block contenido %}

<nav class="opciones123">
    <ul>
        <li><a class="milista" href="/" aria-disabled="true"> INICIO </a></li>
        <li><a  class="milista" href="compra.html">COMPRA</a></li>
        <li><a class="milista" href="status.html">STATUS</a></li>
    </ul>
</nav>

<p class="tituloinicio">MIS MOVIMIENTOS</p>
{% for message in messages %}
        <p class="error">{{ message }}</p>
{% endfor %}

{{datos|length}}
{% if datos|length > 0 %}

    <table class="tabla">
        <tr class="tabla2">
            <th class="opcion">Fecha</th>
            <th class="opcion">Hora</th>
            <th class="opcion">From</th>
            <th class="opcion">Q</th>
            <th class="opcion">To</th>
            <th class="opcion">Q2</th>
            <th class="opcion">PU</th>
        </tr>

    {% for registro in datos %}
        <tr>
        <td> {{ registro [0] }}</td>
        <td>{{ registro[1] }}</td>
        <td>{{ registro[2] }}</td>
        <td>{{ registro[3] }}</td>
        <td>{{ registro[4] }}</td>
        <td>{{ registro[5] }}</td>
        <td>{{ registro[6] }}</td>
        </tr>


    {% endfor %}
    {% else %}
    <p>NO HAY MOVIMIENTOS</p>
        {% endif %}
    </table>

    <div>
    <button onclick="location.href='compra.html'"  class="boton"  type="button" class="btn btn-secondary btn-lg align-items-end"> + </button>
    </div>


{% endblock %}