<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        <nav>
            <ul>
                <li><a href="/"> INICIO </a></li>
                <li><a href="compra.html">COMPRA</a></li>
                <li><a href="status.html" aria-disabled="true">STATUS</a></li>
            </ul>
        </nav>

        <title>MY CRYPTO -{% block title %}{% endblock %}</title>
    </head>
    <body class="imagen-fondo">
        <header class="inver">
            <h1>Estado de la Inversión</h1>
        </header>
        
        <div class="valorinvertido">
            valor invertido: {{ valor_invertido  }}
            
        </div>

        <div class="valoractual">
            valor actual: {{ valor_actual  }}
        </div>
        <footer class="derechos">
            &copy; 2021- TODOS LOS DERECHOS RESERVADOS
        </footer>
    </body>
</html>